a {
    text-decoration: none;
    color: black;
    display: block;
}

table{
    border: 1px solid black;
    table-layout: fixed;
}

th, td {
    border: 1px solid black;
    width: 100px;
    padding: 5px 5px;
    text-align: center;
}

input {
    padding: 5px;
}

.link-header {
    width: 70px;
    height: 24px;
    margin: 20px 0;
}

.link-detail {
    width: 70px;
    height: 24px;
    margin: 20px 0;
    border: 1px solid black;
    text-align: center;
}

.detail-span {
    display: inline-block;
    width: 200px;
    padding: 3px 5px;
    border: 0.5px solid;
}

.detail-bold {
    font-weight: bold;
    font-size: 1.2rem;
}

.save-form {
    width: 80px;
    height: 30px;
}

.form-label {
    display: inline-block;
    width: 80px;
}

.cell-image {
    width: 90%;
    height: auto;
}